<div class="container py-4">
  <a class="btn-back" type="button" (click)="back()">Indietro</a>
  <h2 class="text-center mb-4">Nuovo Cliente</h2>

  <form #form="ngForm">
    <div
      class="alert alert-warning"
      *ngIf="!globalService.hasConfiguredFieldMapping('customer')"
    >
      Nessun campo cliente configurato in MVControl.
    </div>

    <div class="row g-3">
      <div
        class="col-md-6"
        *ngFor="let field of globalService.getVisibleFieldMappingFields('customer')"
      >
        <ng-container [ngSwitch]="field.type">
          <mat-checkbox
            *ngSwitchCase="'boolean'"
            [name]="field.dbColumn"
            [ngModel]="$any(customerModelService)[field.dbColumn]"
            (ngModelChange)="updateField(field, $event)"
          >
            {{ field.label || field.dbColumn }}
          </mat-checkbox>

          <mat-form-field *ngSwitchCase="'textarea'" appearance="fill" class="w-100">
            <mat-label>{{ field.label || field.dbColumn }}</mat-label>
            <textarea
              matInput
              rows="3"
              [name]="field.dbColumn"
              [required]="globalService.isFieldRequired('customer', field.dbColumn || field.key)"
              [ngModel]="$any(customerModelService)[field.dbColumn]"
              (ngModelChange)="updateField(field, $event)"
            ></textarea>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'enum'" appearance="fill" class="w-100">
            <mat-label>{{ field.label || field.dbColumn }}</mat-label>
            <mat-select
              [name]="field.dbColumn"
              [required]="globalService.isFieldRequired('customer', field.dbColumn || field.key)"
              [ngModel]="$any(customerModelService)[field.dbColumn]"
              (ngModelChange)="updateField(field, $event)"
            >
              <mat-option value="">Seleziona</mat-option>
              <mat-option
                *ngFor="let option of globalService.getEnumOptions(field)"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngSwitchCase="'list'" class="border rounded-3 p-3 h-100">
            <label class="form-label fw-bold d-block">{{ field.label || field.dbColumn }}</label>
            <div class="alert alert-light border" *ngIf="getRepeatableTextRows(field).length === 0">
              Nessuna voce aggiunta.
            </div>
            <div
              class="d-flex gap-2 align-items-start mb-2"
              *ngFor="let row of getRepeatableTextRows(field); let rowIndex = index; trackBy: trackByTextRowIndex"
            >
              <mat-form-field appearance="fill" class="w-100" *ngIf="globalService.getEnumOptions(field).length; else textListInput">
                <mat-label>Voce {{ rowIndex + 1 }}</mat-label>
                <mat-select
                  [name]="field.dbColumn + '_row_' + rowIndex"
                  [ngModel]="row"
                  (ngModelChange)="updateTextRow(field, rowIndex, $event)"
                >
                  <mat-option value="">Seleziona</mat-option>
                  <mat-option *ngFor="let option of globalService.getEnumOptions(field)" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-template #textListInput>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Voce {{ rowIndex + 1 }}</mat-label>
                <input
                  matInput
                  [name]="field.dbColumn + '_row_' + rowIndex"
                  [ngModel]="row"
                  (ngModelChange)="updateTextRow(field, rowIndex, $event)"
                />
              </mat-form-field>
              </ng-template>
              <button mat-button color="warn" type="button" class="mt-2" (click)="removeTextRow(field, rowIndex)">
                Rimuovi
              </button>
            </div>
            <button mat-raised-button color="primary" type="button" (click)="addTextRow(field)">
              Aggiungi voce
            </button>
          </div>

          <mat-form-field *ngSwitchDefault appearance="fill" class="w-100">
            <mat-label>{{ field.label || field.dbColumn }}</mat-label>
            <input
              matInput
              [type]="globalService.getDynamicInputType(field)"
              [name]="field.dbColumn"
              [required]="globalService.isFieldRequired('customer', field.dbColumn || field.key)"
              [ngModel]="$any(customerModelService)[field.dbColumn]"
              (ngModelChange)="updateField(field, $event)"
            />
          </mat-form-field>
        </ng-container>
      </div>
    </div>

    <div class="col-12 text-center mt-4">
      <button mat-raised-button color="primary" type="button" (click)="addCustomer()">
        Salva
      </button>
    </div>
  </form>
</div>
